
body{
    background-color:rgb(170, 170, 170);
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding:10px;
    color:rgb(0, 0, 0); /*adding font color*/
}

h1{
    color:rgb(255, 255, 255);
    text-align:  center;
    text-shadow: 2px 2px rgb(53, 53, 53);
    background-color: dimgray;
}

.topnav a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    background-color: dimgray;
  }
  .topnav {
    overflow: hidden;
    background-color: dimgrey;
  }


.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

  .topnav a:hover {
    color: rgb(255, 105, 105);
  }
  
 
.contactbox{
  background-color: rgb(177, 177, 177);
  border: 2px solid rgb(255, 254, 254);
  padding: 10px;
  max-width: 600px;
}
  
.contactbox{
  position: relative;
  bottom: 590px;
  left: 1240px;
}
.title{
  background-color: rgb(177, 177, 177);
  border: 2px solid rgb(255, 254, 254);
  padding: 10px;
  max-width: 1900px;
  
}

h5{
font-size: larger;
}

.rights{
  background-color: rgb(177, 177, 177);
  border: 2px solid rgb(255, 254, 254);
  padding: 10px;
  max-width: 1900px;
  text-align: center;
}
.rights{
  position: relative;
  bottom: 550px;
}

.img{
  position: relative;
  right: 100px;
}

.steps{
  background-color: rgb(177, 177, 177);
  border: 2px solid rgb(255, 254, 254);
  padding: 10px;
  max-width: 1900px;
  font-size: larger;
  font-weight: 800;
  text-align: center;
}

.steps{
  position: relative;
  bottom: 560px;
}

.contacttitle{
  font-weight: 800;
}

.middle{
  background-color: rgb(177, 177, 177);
  border: 2px solid rgb(255, 254, 254);
  padding: 20px;
  max-width: 700px;
  font-size: large;
}
.middle{
  position: relative;
  bottom: 280px;
  left: 380px;
}